html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $background;
}

mat-label {
  font-size: 1.2rem;
  font-weight: 500;
}

.button {
  color: white;
  font-weight: 500;
  padding: .3rem 1.5rem;

  &--suc {
    @extend .button;
    background: $button;

    &:disabled {
      background: $button-disabled;
    }
  }

  &--err {
    @extend .button;
    background: $error;
  }
}
