@import 'src/app/styles/module.scss';

.city-selection {
  @extend .flex--col;
  @extend .padding--2;

  background: $white;
  border-radius: 9px;
  align-self: center;
  box-shadow: 5px 5px rgba(56, 149, 213, 0.24);

  &__input-form, &__select-form, &__not-found-alert {
    &, &__city-input, &__country-input {
      @extend .flex--row;
      @extend .margin--bot-2;

      height: max-content;
      justify-content: space-between;
      align-items: center;


      & input, mat-select {
        border-style: inset;
        font-size: 1.2rem;
        margin-left: 2rem;
        background: $white;
      }

      & > mat-label {
        white-space: nowrap;
      }

      @media only screen and (max-width: 1000px) {
        flex-direction: column;
        mat-label {
          margin-bottom: 1rem;
        }
        & input, mat-select {
          width: 100%;
          width: available;
          width: -moz-available;
          width: -webkit-fill-available;

          margin: 0 0 1rem 0;
        }
      }
    }
  }

  &__input-form {
    @extend .flex--col;

    & button {
      @extend .margin--top-2;
      @extend .button--suc;

    }
  }

  &__multiple-cities-alert {
    @extend .padding--1;

    background: $background-dark;

    & > mat-label {
      color: white;
    }
  }

  &__select-form {
    @extend .margin--top-2;

    &__mat-select {
      width: max-content;
      padding: .4rem 2rem;
      min-width: 10rem;

      &__option {
        @extend .flex--row;

        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__not-found-alert {
    & button {
      @extend .button--err;

      margin: unset;
    }
  }
}
