<div class="home">
  <div class="home__header">
    <h1>WeatherApp</h1>
  </div>

  <div class="home__body">
    <app-forecast-finder></app-forecast-finder>
  </div>

  <div class="home__footer">
    <div class="home__footer__author">
      <mat-label>Szymon Dyda</mat-label>
    </div>

    <div class="home__footer__development-year">
      <mat-label>2022</mat-label>
    </div>

    <div class="home__footer__social-media">
      <a href="https://github.com/simonnaish/WeatherApp" target="_blank">GitHub</a>
    </div>
  </div>

</div>
