@import 'src/app/styles/module.scss';

.home {
  @extend .flex--col;
  @extend .height--full;
  @extend .width--full;

  justify-content: space-between;
  text-align: center;

  &__header {
    @extend .flex--col;

    height: 20%;

    h1 {
      @extend .margin--top-4;
      @extend .margin--bot-4;

      font-size: 5rem;
      font-weight: 800;
      background-image: radial-gradient(#407de5, #9acee7);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      padding: 1rem;
    }

  }

  &__body {
    @extend .flex--col;
    @extend .padding--2-4;

    height: 70%;
  }

  &__footer {
    @extend .flex--row;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;


    a {
      @extend mat-label;
    }
  }
}
