<div class="home">
  <div class="home__header">
    <h1>Welcome to the WeatherApp</h1>
    <h2>To the place which will show you whether it is warn enough to have a nice cup of tea in your garden.</h2>
  </div>

  <div class="home__body">
    <app-forecast-finder></app-forecast-finder>
  </div>

  <div class="home__footer">
    <div class="home__footer__author">
      <mat-label>Szymon Dyda</mat-label>
    </div>

    <div class="home__footer__development-year">
      <mat-label>2022</mat-label>
    </div>

    <div class="home__footer__social-media">
      <!--      TODO -->
    </div>
  </div>

</div>
