<div class="forecast-finder">
  <div class="forecast-finder__header">
    <button
      *ngIf="currentForecast && fiveDaysForecast"
      mat-flat-button
      type="button"
      (click)="clearFetchedData()">
      Search again!
    </button>
  </div>

  <div class="forecast-finder__body">

    <ng-container
      *ngIf="currentForecast && fiveDaysForecast && currentCity; then displayResultsTemplate; else searchTemplate"></ng-container>

    <ng-template #searchTemplate>
      <div class="forecast-finder__body__city-selection">
        <app-city-selection
          (selectedCityEmitter)="proceedWithCity($event)"
        ></app-city-selection>
      </div>
    </ng-template>

    <ng-template #displayResultsTemplate>
      <div class="forecast-finder__body__statistics">
        <app-statistics
          [currentForecast]="currentForecast!"
          [currentCity]="currentCity!"
        ></app-statistics>
      </div>

      <div class="forecast-finder__body__forecast-list">
        <app-forecast-list
          [fiveDaysForecast]="fiveDaysForecast!"
        ></app-forecast-list>
      </div>
    </ng-template>
  </div>

</div>
