@import 'src/app/styles/module.scss';

.forecast-finder {
  @extend .flex--col;

  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1000px) {
    &__header, &__body {
      max-width: 100%;
    }
  }

  &__header {
    @extend .flex--col;
    @extend .margin--bot-2;

    width: 100%;

    button {
      @extend .button--suc;
      align-self: flex-end;
    }
  }

  &__body {
    @extend .flex--col;
    align-items: center;
    justify-content: center;

    &__statistics {
      @extend .width--full;
    }
  }
}
