@import 'src/app/styles/module.scss';

.forecast-list {
  @extend .flex--row;
  @extend .padding--1;

  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;

  mat-card:not(:first-child) {
    margin-left: 1rem;
  }

  & mat-card {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-size: cover;
    color: white;

    & mat-card-header {
      @extend .flex;

      justify-content: center;

      mat-card-title {
        color: $white;
        white-space: nowrap;
      }
    }

    mat-card-content {
      p {
        span {
          margin-left: .2rem;
        }
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    width: 100%;

    & mat-card {
      margin-bottom: 1rem;
      margin-left: 0 !important;
    }
  }
}
